.login__fab {
  @extend .fab;
  background-color: $color-primary-dark;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: $color-text-light;
  &:hover {
    background-color: $color-secondary-light;
  }
}
