$dark-shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
$black-shadow: drop-shadow(0px 2px 2px #000);

$transition: all 0.2s ease-in-out;

$color-text-light: #e9d5ca;
$color-text-dark: #1a1a1a;

$color-primary: #e9d5ca;
$color-primary-light: #827397;
$color-primary-dark: #363062;

$color-secondary: #827397;
$color-secondary-light: #980f5a;
